.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    padding: 1.2rem 1rem;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 8px;
    background: linear-gradient(135deg, hsla(0,0%,100%,.15),hsla(0,0%,100%,.1125) 9.37%, hsla(0,0%,100%,.0375) 54.69%, hsla(0,0%,100%,.0394911) 66.15%,hsla(0,0%,100%,.15));

    &:hover {
        border: 2px solid rgb(255, 255, 255);
    }

    img {
        width: 100%;
        transform: translate(-50,-50);
        left: 50;
        right: 50;
        margin: 0.5rem;
        border-radius: 5px;
    }


    .p-title {
    color: white;
    padding: 1rem;
    }

    .p-details {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    }

}

.p-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.p-btns .btn {
    padding: 0.5rem 1rem;
}

.btn-single {
    flex: 1;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

@media screen and (max-width: 740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}