/*.content-background {
    width: 100%;
    padding: 0 1rem;
    background: linear-gradient(134deg,rgba(0, 6, 8, 0.822),rgb(71, 71, 71));

}*/

.content-container {
    max-width: 1140px;
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    

    .left-side {
        text-align: center;
        margin: auto;
        padding: 1rem;
        max-width: 350px;

        p {
            margin: 1.2rem 0;
        }

    }

    .right-side {
        max-width: 700px;
        justify-content:space-evenly;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 3rem;

        h2 {
            padding-bottom: 2rem;
            margin-top: 1rem;
            text-align: center;
        }

        p {
            line-height: 1.5rem;
            margin-left: 1rem;
        }
    }
}

.resume-outline {
        position: relative;
        -webkit-backdrop-filter: blur(100px);
        backdrop-filter: blur(100px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 6px;
        background: linear-gradient(135deg, hsla(0,0%,100%,.15),hsla(0,0%,100%,.1125) 9.37%, hsla(0,0%,100%,.0375) 54.69%, hsla(0,0%,100%,.0394911) 66.15%,hsla(0,0%,100%,.15));
        
}
