@use "sass:math";

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 0.3s;
    animation-fill-mode: forwards;
    min-width: 10px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.6rem 0 1rem;
    transition: fade
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.6rem 0 1rem;

    &:hover {
        animation: rubberBand 0.3s;
        color: rgb(194, 68, 182);
    }
}


@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{math.div($i, 10)}s;
    }
}

