.resume-outline {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    transform: translate(-50,-50);
    left: 50;
    right: 50;
    border-radius: 1px;
    background: linear-gradient(135deg, hsla(0,0%,100%,.15),hsla(0,0%,100%,.1125) 9.37%, hsla(0,0%,100%,.0375) 54.69%, hsla(0,0%,100%,.0394911) 66.15%,hsla(0,0%,100%,.15));
    
}

img {
    padding-right: 1rem;
}
