.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,1);
}

.header-scroll {
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.75);
}


.nav-menu {
    display: flex;

}

.nav-menu li {
    padding: 0 1rem; 
    list-style: none;
 }

 .nav-menu li a {
    font-size: 15px;
    font-weight: 600;
 }

 /*.nav-menu li a:hover {
    top:100%;
    width:100%;
    height: 5px;
    border-radius: 8px;
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
    transition: 0.5s ease-in;
 }*/

 .link {
    position: relative;
 }
 .link:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 70%;
    transform: translate(-50%,-50%);
    left: 50%;
    right: 50%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
 }


 .hamburger-icon {
    display: none;
 }

 .site-name {
    position: relative;
 }
 .site-name::before {
    content:"";
    position:absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 4px;
    border-radius:3px;
    background: linear-gradient(111.3deg, #9c27b0, #00bcd4 93.6%);
 }

 @media screen and (max-width: 1040px) {
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.95);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.7s ease-in;

    }

    .nav-menu.active {
        left: 0;
        z-index: 3;
    }
    
    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu li a {
        font-size: 2rem;
    }
    
    .hamburger-icon {
        display: initial;
        z-index: 3;
        cursor: pointer;
    }
 }