.overlay {
    width: 100%;
    height: 100vh;
    position: relative;

    .mike-image {
        position: relative;
        top: 17%;
        left: 20%;
        width: 20%;
    }
}

/*
muedoCode --> \/O\/ if you want to use a background image
backgroundImage ? (
    width:100%
    height: 100%
    background-size: cover;
    background-position: center;
    object-fit: cover;
    : */

.overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.home-slide{
 height: 100%;
 width: 100%;
 margin-bottom: -100px;
}

.home-slide .content {
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
text-align: center;
}

.home-slide .content {
    font-size: 3.5rem;
    padding: 0.6rem 0 1.5rem;
}

.home-slide .content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-rendering: uppercase;
}


.content .btn {
    margin: 1rem 0.2rem;
    border-radius: 4px;
}


@-webkit-keyframes shine {
    to {
      left: 200%;
    }
  }
  @keyframes shine {
    50% {
      left: 200%;
    }
    to {
      right: 200%;
    }
  }

  /*@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}*/

.skills-background.shine{
    position: relative;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 6px;
    background: linear-gradient(135deg, hsla(0,0%,100%,.15),hsla(0,0%,100%,.1125) 9.37%, hsla(0,0%,100%,.0375) 54.69%, hsla(0,0%,100%,.0394911) 66.15%,hsla(0,0%,100%,.15));
       
        &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -200%;
        width: 200%;
        height: 100%;
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        background-image: linear-gradient(
            90deg,
            transparent,
            hsla(0, 0%, 100%, 0.3),
            transparent
        );
        -webkit-animation: shine 4s infinite alternate;
        animation: shine 4s infinite alternate;
        -webkit-animation-timing-function: cubic-bezier(0, 0.6, 1, 0.4);
        animation-timing-function: cubic-bezier(0, 0.6, 1, 0.4);
        }

    .javascript-icon {
        color: white;
        padding: 0 5px;
        margin-top: 1rem;
    
        &:hover {
            color: yellow;
            transition: ease-in 0.3s;
        }
    }
    .react-icon {
        color: white;
        padding: 0 5px;
        margin-top: 1rem;
    
        &:hover {
            color: #61DBFB;
            transition: ease-in 0.3s;
        }
    }

    .html-icon {
        color: white;
        padding: 0 5px;
        margin-top: 1rem;

        &:hover {
            color: #e34c26;
            transition: ease-in 0.3s;
        }
    }

    .scss-icon {
        color: white;
        padding: 0 5px;
        margin-top: 1rem;

        &:hover {
            color: #CD6799;
            transition: ease-in 0.3s;
        }
    }
}

@media screen and (max-width: 1040px){
    .mike-image {
        display: none;
    }

    .home-slide .content h1 {
        font-size: 2.5rem;
        padding: 0.6rem 0 1.5rem
    }
    
    .react-logo{
        color: #61DBFB;
        display: inline-flex;
        width: 2rem;
    }
    
}